@{
    ViewBag.Title = "The Category Adding/Deleting Page";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4>@ViewBag.myAdd</h4>
<h4>@ViewBag.myDelete</h4>

<h4>@ViewBag.addmessage</h4>
<h4>@ViewBag.deletemessage</h4>
@*<h3>@ViewBag.MyMessageToUsers</h3>
<h3>@Html.TextBox("CategoryText")</h3>
<h4>@Html.CheckBox("CheckTheBox")</h4>

<div>
    <form method="POST">
        <input name="name" type="text" placeholder="Type Category Name">
        <button id="MyButton" type="submit">Add Category</button>
        <button type="submit">Delete Category</button>
    </form>
</div>*@

@*@using (Html.BeginForm("MyAction", "HomeController", FormMethod.Post))
{ 
<input type="submit" name="submitButton" value="Send" />
<input type="submit" name="submitButton" value="Cancel" />
}*@  
<p>Use this area to provide additional information.</p>

@*<script type="text\javascript">
    $(function(){
        $("input#MyButton").on('click', function(){
        // Do what you want.
        });
    });
</script>*@
