@{ToDoContext db = new ToDoContext();}

@{
    ViewBag.Title = "View Lists";
}
<head>
    <title>@ViewBag.Title</title>
</head>
    <div class="container">
        @if (ViewBag.Items != null)
        {
            using (Html.BeginForm("ViewEditList", "Home", FormMethod.Post, new { encType = "multipart/form-data", name = "myform", id = ViewBag.listID }))
            {
            <h2 align="center">- @ViewBag.listName -</h2>

            <table class="table">
                <tr>
                    <th>
                        Item Name
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Date Completed
                    </th>
                    <th>
                        Complete
                    </th>
                </tr>

                @for (int i = 0; i < Enumerable.Count(ViewBag.Items); i++)
                {
                    <tr>
                        <td>
                            @Html.Hidden("itemID"+i, (int)ViewBag.Items[i].itemID)
                            @Html.TextBox("itemName"+i, (string)ViewBag.Items[i].itemName)
                        </td>
                        @if (ViewBag.Items[i].isCompleted != null && (bool)ViewBag.Items[i].isCompleted)
                        {
                            <td>Complete</td>
                        }
                        else
                        {
                            <td>In progress</td>
                        }
                        <td>
                            @ViewBag.Items[i].dateCompleted
                        </td>
                        <td>
                            <button name="button" id="CompleteButton" type="submit" value="completeItem">Complete Button</button>
                            <!--@Html.ActionLink("Complete", "ViewEditList", "Home", new { id = @ViewBag.Items[i].listID, itemID = ViewBag.Items[i].itemID, button = "completeItem" })-->
                        </td>
                    </tr>
                }
            </table>
                }
            }
    </div>
    <dvi>
    @using (Html.BeginForm("ViewEditList", "Home", FormMethod.Post, new { encType = "multipart/form-data", name = "myform", id= ViewBag.listID }))
    {
        <table class="table">
            <tr>
                <th>
                    Select
                </th>
                <th>
                    categoryName
                </th>
                <th></th>
                @foreach (CategorySelection i in ViewBag.categories)
                {

                <tr>
                    <td>
                        @Html.CheckBox(" ", i.selected)
                    </td>  
                    <td>
                        @i.category.categoryName
                    </td>
                </tr>
                }
        </table>
        <hr />
        <br />
        //<input type="submit" name="button" id="submit" value="Submit Selected" />
        <button name="button" id="btnSubmit" type="submit" value="submitCat">Submit Selected</button>
        <a></a>
    }
        <p></p>

        <p>@ViewBag.message</p>

        @*first argument use to be AddCategory, second Home*@
        @using (Html.BeginForm("ViewEditList", "Home", FormMethod.Post))
        {
            <div>
                <form method="POST">
                    <input name="name" type="text" placeholder="Type Category Name">
                    <button name="button" id="AddButton" type="submit" value="addCat">Add Category</button>
                    <button name="button" id="DeleteButton" type="submit" value="delCat">Delete Category</button>
                </form>
            </div>
        }
    </dvi>


