<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ListGod.com</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        /* The Modal (background) */
        .modalList {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-contentList {
            background-color: rgb(1,236,177);
            margin: auto;
            padding: 20px;
            border: 10px solid #888;
            width: 50%;
        }

        /* The Close Button */
        .closeList {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .closeList:hover,
            .closeList:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/ListGodLogo.jpg" class="img-rounded" alt="List God Logo" width="50" height="50" style="margin-top: 2px">
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("View Lists", "ViewLists", "Home")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><button type="button" id="myBtnList" class="btn btn-info btn-sm" style="margin-top: 10px">Create List +</button></li>                
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - List God Group</p>
        </footer>
    </div>
    
    @using (Html.BeginForm("AddList", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <!-- The Modal -->
        <div id="myModalList" class="modalList">

            <!-- Modal content -->
            <div class="modal-contentList" method="POST">
                <span class="closeList">&times;</span>
                <div align="center">
                    <input class="form-control input-lg" name="newList" type="text" placeholder="New List Name">
                    <button class="btn btn-warning btn-block" type="submit" id="Create" name="button" value="NewList">Create</button>
                </div>
                
            </div>
        </div>
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<script>
// Get the modal
var modalList = document.getElementById('myModalList');

// Get the button that opens the modal
var btnList = document.getElementById("myBtnList");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("closeList")[0];

// When the user clicks the button, open the modal
btnList.onclick = function() {
    modalList.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modalList.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modalList) {
        modalList.style.display = "none";
    }
}
</script>